@import url('https://fonts.googleapis.com/css?family=Architects Daughter:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #676767;
}

.bg-color-three-reasons {
    background-color: #fff;
}

b {
    color: rgb(150, 2, 2);
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-resume {
    background-color: #9b59b6;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

.ui-menu-color-download {
    background-color: #525252;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Architects Daughter", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Architects Daughter", sans-serif;
    text-shadow: 0 .3rem .3rem rgba(0, 0, 0);
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.logo {
    background: url("../images/me.jpg");
    background-color: #676767;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Architects Daughter", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Architects Daughter", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;

}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

h4 {
    font-family: "Architects Daughter", sans-serif;
    text-shadow: 0 .3rem .3rem rgba(0, 0, 0);
    font-weight: 500;
}

/*--------------------------------------------Hover.css*/

a.hvr-bounce-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* ----------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: rgb(150, 2, 2);
    text-align: center;
    padding-left: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.cv-pdf i:hover {
    color: rgb(255, 255, 255);
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(150, 2, 2);
}

#footer-details {
    padding: 20px;
}

i {
    font-size: 2rem;
    padding: 5px;
    padding-bottom: 30px;
}

i:hover {
    color: rgb(150, 2, 2);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

/* ----------------------------------------Three Reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #3498db;
}

.three-reasons-heading {
    margin-bottom: 15px;
}


@media all and (max-width: 370px) {
    .copyright {
        font-size: 10px;
    }

    .name {
        font-size: 40px;
    }
}