@import url('https://fonts.googleapis.com/css?family=Architects Daughter:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-image: linear-gradient(#676767, black);
}

.bg-color-three-reasons {
    background-color: #fff;
}

.bg-color-personal-info {
    background-color: #f4f4f4;
}

.bg-color-work-history {
    background-image: linear-gradient(#9b59b6, black);
}

.bg-color-contact {
    background-color: #fff;
}

.bg-color-progress-1 {
    background-image: linear-gradient(#1d964f, black);
}

.bg-color-progress-2 {
    background-image: linear-gradient(#8120a7, black);
}

.bg-color-progress-3 {
    background-image: linear-gradient(#e6c300, black);
}

.bg-color-progress-4 {
    background-image: linear-gradient(#a00909, black);
}

.bg-color-progress-5 {
    background-image: linear-gradient(#03a02a, black);
}

.bg-color-progress-6 {
    background-image: linear-gradient(#1215ce, black);
}

.bg-color-progress-7 {
    background-image: linear-gradient(#318a8a, black);
}

.bg-color-progress-8 {
    background-image: linear-gradient(#727272, black);
}

b {
    color: rgb(150, 2, 2);
}

.ui-menu-color-home {
    background-image: linear-gradient(#e67e22, black);
}

.ui-menu-color-education {
    background-image: linear-gradient(#9b59b6, black);
}

.ui-menu-color-contact {
    background-image: linear-gradient(#3498db, black);
}

.ui-menu-color-download {
    background-image: linear-gradient(#691212, black);
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Architects Daughter", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.history-heading,
.section-heading {
    font-family: "Architects Daughter", sans-serif;
    text-shadow: 0 .3rem .3rem rgba(0, 0, 0);
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0);
}

.logo {
    background: url("../images/me.jpg");
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Architects Daughter", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Architects Daughter", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;

}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

h4 {
    font-family: "Architects Daughter", sans-serif;
    text-shadow: 0 .3rem .3rem rgba(0, 0, 0);
    font-weight: 500;
}

/*--------------------------------------------Hover.css*/

a.hvr-bounce-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

.projects-container .projects:hover {
    transform: scale(1.1);
}

/*-----------------------------------------Projects*/

.projects-container {
    background-image: linear-gradient(#691212, black);
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-container .projects {
    height: 14rem;
    width: 32rem;
    margin: 2rem;
    box-shadow: 0 1.3rem 1.3rem rgba(0, 0, 0);
    overflow: hidden;
    border-radius: 1rem;
}

.projects-container .projects image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}

/* ----------------------------------------Footer */

footer {
    background-image: linear-gradient(#525252, black);
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: rgb(150, 2, 2);
    text-align: center;
    padding-left: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.cv-pdf i:hover {
    color: rgb(255, 255, 255);
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(150, 2, 2);
}

#footer-details {
    padding: 20px;
}

i {
    font-size: 2rem;
    padding: 5px;
    padding-bottom: 30px;
}

i:hover {
    color: rgb(150, 2, 2);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

/* ----------------------------------------Three Reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #3498db;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* ----------------------------------------Personal Info */

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/* ----------------------------------------Skills */

.progress {
    margin-top: 20px;
    position: relative;
    height: 35px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    height: 35px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 40px;
}

/* ----------------------------------------Work History */

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

/* ----------------------------------------Contact Form */

.contact-heading,
h5 {
    font-family: "Architects Daughter", sans-serif;
    text-shadow: 0 .3rem .3rem rgba(0, 0, 0);
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 15px;
    color: rgb(224, 224, 224);
}

h4,
h5 {
    font-family: "Architects Daughter", sans-serif;
    text-shadow: 0 .3rem .3rem rgba(0, 0, 0);
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: rgb(119, 0, 0);
}

/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}


@media all and (max-width: 380px) {
    .copyright {
        font-size: 10px;
    }

    .name {
        font-size: 40px;
    }

    i {
        font-size: 1.5rem;
    }

    .projects-container .projects {
        height: 8rem;
    }

    img {
        width: 320px;
    }
}

@media all and (max-width: 320px) {
    img {
        width: 270px;
    }
}